USE [TrueMartDataBase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[TownID] [uniqueidentifier] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[EmailAdress] [nvarchar](150) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NULL,
	[Sex] [int] NULL,
	[IsAdmin] [bit] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BankCard]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankCard](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[CardOwnerName] [nvarchar](50) NOT NULL,
	[CardOwnerLastName] [nvarchar](50) NOT NULL,
	[CardNo] [nvarchar](16) NOT NULL,
	[BestBeforeDate] [date] NOT NULL,
	[CardCVC] [nvarchar](3) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BankCard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brands]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [uniqueidentifier] NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[ProductName] [nvarchar](70) NULL,
	[Price] [money] NULL,
	[Quentity] [int] NULL,
	[ImagePath] [nvarchar](150) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](70) NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](70) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactInformation]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInformation](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[ShipperID] [uniqueidentifier] NULL,
	[SiteEmployeeID] [uniqueidentifier] NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[EmailAddress] [nvarchar](250) NULL,
	[FaxNo] [nvarchar](15) NULL,
	[Address] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContactInformation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NULL,
	[ImagePath] [nvarchar](150) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NULL,
	[OrderID] [uniqueidentifier] NULL,
	[Quentity] [int] NULL,
	[Price] [money] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[AppUserID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[ShipperID] [uniqueidentifier] NULL,
	[Confirmed] [bit] NULL,
	[ShippedAddress] [nvarchar](max) NULL,
	[OrderDate] [date] NULL,
	[ShippedDate] [date] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Price] [money] NULL,
	[Description] [nvarchar](max) NULL,
	[UnitsInStock] [int] NOT NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[BrandID] [uniqueidentifier] NOT NULL,
	[SupplierID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[SubCategoryID] [uniqueidentifier] NULL,
	[SubSubCategoryID] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductColour]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColour](
	[ID] [uniqueidentifier] NOT NULL,
	[Colour] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductColour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductComments]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComments](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NULL,
	[AppUserID] [uniqueidentifier] NULL,
	[Comment] [nvarchar](max) NULL,
	[ProductLikes] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductComments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductSizeID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ProductColourID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ProductDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[ID] [uniqueidentifier] NOT NULL,
	[Size] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductSize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceName] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Province] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[TownID] [uniqueidentifier] NULL,
	[ShipperName] [nvarchar](100) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Shippers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiteEmployees]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteEmployees](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[TownID] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Profession] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SiteEmployees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[SubCategoryName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](150) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSubCategories]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSubCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[SubCategoryID] [uniqueidentifier] NOT NULL,
	[SubSubCategoryName] [nvarchar](70) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](150) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SubSubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [uniqueidentifier] NOT NULL,
	[TownID] [uniqueidentifier] NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Town]    Script Date: 17.06.2019 22:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Town](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceID] [uniqueidentifier] NULL,
	[TownName] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Town] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AppUsers] ([ID], [ProvinceID], [TownID], [UserName], [EmailAdress], [Name], [Surname], [Password], [BirthDate], [Sex], [IsAdmin], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c9981b8b-6084-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'd94a4f52-6084-e911-9e7b-302432936420', N'mstfyrdmc', N'mstfyrdmc@gmail.com', N'Mustafa ', N'YARDIMCI', N'123', CAST(N'1990-06-01' AS Date), 0, 0, 1, CAST(N'2019-06-01T14:29:40.693' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[AppUsers] ([ID], [ProvinceID], [TownID], [UserName], [EmailAdress], [Name], [Surname], [Password], [BirthDate], [Sex], [IsAdmin], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'7092a9af-6084-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'd94a4f52-6084-e911-9e7b-302432936420', N'Nclayldrm1', N'necla1@gmail.com', N'Necla', N'Yıldırım', N'qwerty', CAST(N'1983-04-05' AS Date), 1, 0, 1, CAST(N'2019-06-01T14:30:42.023' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[AppUsers] ([ID], [ProvinceID], [TownID], [UserName], [EmailAdress], [Name], [Surname], [Password], [BirthDate], [Sex], [IsAdmin], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'b51ad62c-6e84-e911-9e7b-302432936420', N'10a3f09e-6d84-e911-9e7b-302432936420', N'9f9af1fe-6d84-e911-9e7b-302432936420', N'gkaraca', N'gkaraca@gmail.com', N'Gizem', N'Küçükkaraca', N'12345', CAST(N'1994-04-05' AS Date), 1, 1, 1, CAST(N'2019-06-01T16:07:15.490' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[BankCard] ([ID], [AppUserID], [CardOwnerName], [CardOwnerLastName], [CardNo], [BestBeforeDate], [CardCVC], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'6cdcb04e-7684-e911-9e7b-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'Mustafa ', N'YARDIMCI', N'5465848', CAST(N'2020-05-12' AS Date), N'456', 1, CAST(N'2019-06-01T17:05:28.253' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[BankCard] ([ID], [AppUserID], [CardOwnerName], [CardOwnerLastName], [CardNo], [BestBeforeDate], [CardCVC], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'027a138a-7684-e911-9e7b-302432936420', N'7092a9af-6084-e911-9e7b-302432936420', N'Necla', N'Yıldırım', N'689757979/', CAST(N'2023-04-02' AS Date), N'320', 1, CAST(N'2019-06-01T17:07:07.887' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[BankCard] ([ID], [AppUserID], [CardOwnerName], [CardOwnerLastName], [CardNo], [BestBeforeDate], [CardCVC], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'86863936-7784-e911-9e7b-302432936420', N'd458177f-6e84-e911-9e7b-302432936420', N'Fatma', N'Kara', N'5498566879', CAST(N'2025-06-25' AS Date), N'897', 1, CAST(N'2019-06-01T17:11:56.717' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Brands] ([ID], [BrandName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'3a394b2a-6184-e911-9e7b-302432936420', N'A.D.I.D.A.S', N'Adidas', N'~/Content/uploads/Brand/2599cd95_f894_43c9_b4db_2b6b1be15515.png', 3, CAST(N'2019-06-01T14:34:07.767' AS DateTime), N'::1', CAST(N'2019-06-01T16:09:56.073' AS DateTime), N'::1')
INSERT [dbo].[Brands] ([ID], [BrandName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'05112192-6e84-e911-9e7b-302432936420', N'A.D.I.D.A.S', N'Adidas', N'~/Content/uploads/Brand/65f39c41_4ba9_4eed_a0e5_77a6a986b77f.png', 1, CAST(N'2019-06-01T16:10:05.437' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Brands] ([ID], [BrandName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c962fa99-6e84-e911-9e7b-302432936420', N'N.I.K.E', N'Nike', N'~/Content/uploads/Brand/7b0a2ad3_873c_4317_b193_07e2bd4d7553.png', 1, CAST(N'2019-06-01T16:10:18.607' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Cart] ([ID], [AppUserID], [ProductID], [ProductName], [Price], [Quentity], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5cc2ad96-128d-e911-9e7f-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'144ae5a5-7084-e911-9e7b-302432936420', N'ADIDAS- Runfalcon', 600.0000, 2, N'/Content/uploads/ProductImage/dd475c08_6084_40ed_add2_54df82645cd9.jpeg', 5, CAST(N'2019-06-12T16:04:19.830' AS DateTime), N'::1', CAST(N'2019-06-16T16:10:35.220' AS DateTime), N'::1')
INSERT [dbo].[Cart] ([ID], [AppUserID], [ProductID], [ProductName], [Price], [Quentity], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5dc2ad96-128d-e911-9e7f-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'ef0b2971-7184-e911-9e7b-302432936420', N'Dell - G5', 5000.0000, 1, N'/Content/uploads/ProductImage/c5ebbb64_cf21_4022_bc7d_8b228e8591c5.jpeg', 1, CAST(N'2019-06-12T16:04:23.960' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Cart] ([ID], [AppUserID], [ProductID], [ProductName], [Price], [Quentity], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5ec2ad96-128d-e911-9e7f-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'6cec6c91-7284-e911-9e7b-302432936420', N'Mavi T-shirt', 60.0000, 1, N'/Content/uploads/ProductImage/2589edb8_bb48_4300_9874_e7e9a58726ba.jpeg', 1, CAST(N'2019-06-12T16:04:27.447' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'3b58bfd7-6084-e911-9e7b-302432936420', N'Ayakkabı', N'erkek için ayakkabı', N'/Content/uploads/Category/f3f50ad1_092f_4819_96f9_2a9e63676e4c.jpeg', 3, CAST(N'2019-06-01T14:31:49.277' AS DateTime), N'::1', CAST(N'2019-06-01T16:13:00.770' AS DateTime), N'::1')
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'72d00c0a-6f84-e911-9e7b-302432936420', N'Ayakkabı', N'Rahat Ayakkabılar', N'/Content/uploads/Category/44fd89c2_517b_4bbe_82fd_dd26a796dad7.jpeg', 1, CAST(N'2019-06-01T16:13:26.633' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0149b512-6f84-e911-9e7b-302432936420', N'Teknoloji', N'Teknolojik Şeyler', N'/Content/uploads/Category/10500b1e_fd15_418e_ac6c_e8f24fe54d34.jpeg', 1, CAST(N'2019-06-01T16:13:41.160' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ContactInformation] ([ID], [AppUserID], [SupplierID], [ShipperID], [SiteEmployeeID], [PhoneNumber], [EmailAddress], [FaxNo], [Address], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'8d40eb05-7684-e911-9e7b-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', NULL, NULL, NULL, N'5541940012', N'mstfyrdmc@gmail.com', N'5541940012', N'kuzeykent mah. ergenekon sok. villakent sitesi 9a-1 merkez/kastamonu', 3, CAST(N'2019-06-01T17:03:26.153' AS DateTime), N'::1', CAST(N'2019-06-15T18:41:12.667' AS DateTime), N'::1')
INSERT [dbo].[ContactInformation] ([ID], [AppUserID], [SupplierID], [ShipperID], [SiteEmployeeID], [PhoneNumber], [EmailAddress], [FaxNo], [Address], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'd1e0a77c-7684-e911-9e7b-302432936420', N'7092a9af-6084-e911-9e7b-302432936420', NULL, NULL, NULL, N'546456456', N'nclyldrm@gmail.com', N'324234234', N'asdasd mah. sdlşfkşsdf sok.', 3, CAST(N'2019-06-01T17:06:45.373' AS DateTime), N'::1', CAST(N'2019-06-15T18:41:14.543' AS DateTime), N'::1')
INSERT [dbo].[ContactInformation] ([ID], [AppUserID], [SupplierID], [ShipperID], [SiteEmployeeID], [PhoneNumber], [EmailAddress], [FaxNo], [Address], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0990c629-7784-e911-9e7b-302432936420', N'd458177f-6e84-e911-9e7b-302432936420', NULL, NULL, NULL, N'354849', N'karafatma@gmail.com', N'65987984', N'lklasdşlk mah. asdapsd  sok. asdas sitesi ', 3, CAST(N'2019-06-01T17:11:35.827' AS DateTime), N'::1', CAST(N'2019-06-15T18:41:21.980' AS DateTime), N'::1')
INSERT [dbo].[Image] ([ID], [ProductID], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'f507bdbd-7284-e911-9e7b-302432936420', N'144ae5a5-7084-e911-9e7b-302432936420', N'/Content/uploads/ProductImage/dd475c08_6084_40ed_add2_54df82645cd9.jpeg', 1, CAST(N'2019-06-01T16:39:56.583' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Image] ([ID], [ProductID], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'f607bdbd-7284-e911-9e7b-302432936420', N'08047ff6-7084-e911-9e7b-302432936420', N'/Content/uploads/ProductImage/514a6c6e_1807_4e71_a144_df2706dec2fc.jpeg', 1, CAST(N'2019-06-01T16:40:05.073' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Image] ([ID], [ProductID], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c2576ec7-7284-e911-9e7b-302432936420', N'ce850906-7184-e911-9e7b-302432936420', N'/Content/uploads/ProductImage/cfc80847_ee7a_41ed_a916_07a800ad3cfd.jpeg', 1, CAST(N'2019-06-01T16:40:12.853' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[OrderDetails] ([ID], [ProductID], [OrderID], [Quentity], [Price], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [AppUserID]) VALUES (N'5eff27ba-128d-e911-9e7f-302432936420', N'144ae5a5-7084-e911-9e7b-302432936420', N'5dff27ba-128d-e911-9e7f-302432936420', 1, 300.0000, 1, CAST(N'2019-06-12T16:05:27.860' AS DateTime), N'::1', CAST(N'2019-06-16T16:55:20.243' AS DateTime), N'::1', N'c9981b8b-6084-e911-9e7b-302432936420')
INSERT [dbo].[OrderDetails] ([ID], [ProductID], [OrderID], [Quentity], [Price], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [AppUserID]) VALUES (N'584a05c4-128d-e911-9e7f-302432936420', N'ef0b2971-7184-e911-9e7b-302432936420', N'5dff27ba-128d-e911-9e7f-302432936420', 1, 5000.0000, 1, CAST(N'2019-06-12T16:05:35.910' AS DateTime), N'::1', CAST(N'2019-06-16T17:08:04.493' AS DateTime), N'::1', N'c9981b8b-6084-e911-9e7b-302432936420')
INSERT [dbo].[OrderDetails] ([ID], [ProductID], [OrderID], [Quentity], [Price], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [AppUserID]) VALUES (N'594a05c4-128d-e911-9e7f-302432936420', N'6cec6c91-7284-e911-9e7b-302432936420', N'5dff27ba-128d-e911-9e7f-302432936420', 1, 60.0000, 1, CAST(N'2019-06-12T16:05:41.603' AS DateTime), N'::1', CAST(N'2019-06-16T16:54:21.583' AS DateTime), N'::1', N'c9981b8b-6084-e911-9e7b-302432936420')
INSERT [dbo].[Orders] ([ID], [AppUserID], [ShipperID], [Confirmed], [ShippedAddress], [OrderDate], [ShippedDate], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5dff27ba-128d-e911-9e7f-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'1a009902-7484-e911-9e7b-302432936420', 1, N'sdfgqwwqrqwr', CAST(N'2019-06-12' AS Date), CAST(N'2019-06-17' AS Date), 1, CAST(N'2019-06-12T16:05:19.357' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Orders] ([ID], [AppUserID], [ShipperID], [Confirmed], [ShippedAddress], [OrderDate], [ShippedDate], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'1a2515c9-148d-e911-9e7f-302432936420', N'7092a9af-6084-e911-9e7b-302432936420', N'1a009902-7484-e911-9e7b-302432936420', 1, N'ŞLFDŞGLşprelpşterpt', CAST(N'2019-06-12' AS Date), CAST(N'2019-06-17' AS Date), 1, CAST(N'2019-06-12T16:20:03.373' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Orders] ([ID], [AppUserID], [ShipperID], [Confirmed], [ShippedAddress], [OrderDate], [ShippedDate], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'63e34a6a-de8d-e911-9e80-302432936420', N'd458177f-6e84-e911-9e7b-302432936420', N'0ea44c09-7484-e911-9e7b-302432936420', 1, N'şksdjafksdjf şsdıfjsadljfaslkdf saldkfjsdf', CAST(N'2019-06-13' AS Date), CAST(N'2019-06-18' AS Date), 1, CAST(N'2019-06-13T16:23:31.933' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductColour] ([ID], [Colour], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'9ebf5892-6684-e911-9e7b-302432936420', N'Siyah', 1, CAST(N'2019-06-01T15:12:49.823' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductColour] ([ID], [Colour], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'9fbf5892-6684-e911-9e7b-302432936420', N'Mavi', 1, CAST(N'2019-06-01T15:12:53.840' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductColour] ([ID], [Colour], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'a0bf5892-6684-e911-9e7b-302432936420', N'Kırmızı', 1, CAST(N'2019-06-01T15:12:58.817' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductComments] ([ID], [ProductID], [AppUserID], [Comment], [ProductLikes], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'ddd77ca1-b684-e911-9e7b-302432936420', N'144ae5a5-7084-e911-9e7b-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'dfgdfgdfg', 5, 1, CAST(N'2019-06-02T00:45:54.963' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductComments] ([ID], [ProductID], [AppUserID], [Comment], [ProductLikes], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'003ea803-fe85-e911-9e7b-302432936420', N'2a36f229-7184-e911-9e7b-302432936420', N'7092a9af-6084-e911-9e7b-302432936420', N'Çok rahat bir ayakkabı', 4, 1, CAST(N'2019-06-03T15:49:25.097' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductComments] ([ID], [ProductID], [AppUserID], [Comment], [ProductLikes], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'db92826d-fe85-e911-9e7b-302432936420', N'd963de82-7184-e911-9e7b-302432936420', N'c9981b8b-6084-e911-9e7b-302432936420', N'ortalama bir notebook', 3, 1, CAST(N'2019-06-03T15:52:22.687' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductDetails] ([ID], [ProductSizeID], [ProductID], [Description], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [ProductColourID]) VALUES (N'f85215a7-6c84-e911-9e7b-302432936420', N'03e9cce8-6584-e911-9e7b-302432936420', N'456e3855-6184-e911-9e7b-302432936420', N'546464', 3, CAST(N'2019-06-01T15:56:21.583' AS DateTime), N'::1', CAST(N'2019-06-01T17:46:30.750' AS DateTime), N'::1', N'9ebf5892-6684-e911-9e7b-302432936420')
INSERT [dbo].[ProductDetails] ([ID], [ProductSizeID], [ProductID], [Description], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [ProductColourID]) VALUES (N'41a8fcd1-7b84-e911-9e7b-302432936420', N'02e9cce8-6584-e911-9e7b-302432936420', N'144ae5a5-7084-e911-9e7b-302432936420', N'Koşu ayakkabısı , koşmak için ideal ayakkabı', 5, CAST(N'2019-06-01T17:45:25.987' AS DateTime), N'', CAST(N'2019-06-01T17:45:26.017' AS DateTime), N'::1', N'9fbf5892-6684-e911-9e7b-302432936420')
INSERT [dbo].[ProductDetails] ([ID], [ProductSizeID], [ProductID], [Description], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [ProductColourID]) VALUES (N'226dee1c-7c84-e911-9e7b-302432936420', N'38b0dee1-6584-e911-9e7b-302432936420', N'08047ff6-7084-e911-9e7b-302432936420', N'Çok Şık,kaliteli ayakkabı', 1, CAST(N'2019-06-01T17:47:01.753' AS DateTime), N'::1', NULL, NULL, N'a0bf5892-6684-e911-9e7b-302432936420')
INSERT [dbo].[ProductSize] ([ID], [Size], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'36b0dee1-6584-e911-9e7b-302432936420', N'38', 1, CAST(N'2019-06-01T15:07:53.747' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductSize] ([ID], [Size], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'37b0dee1-6584-e911-9e7b-302432936420', N'39', 1, CAST(N'2019-06-01T15:07:59.457' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[ProductSize] ([ID], [Size], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'38b0dee1-6584-e911-9e7b-302432936420', N'40', 1, CAST(N'2019-06-01T15:08:02.543' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Province] ([ID], [ProvinceName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'd6569e4a-6084-e911-9e7b-302432936420', N'İstanbul', 1, CAST(N'2019-06-01T14:27:52.500' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Province] ([ID], [ProvinceName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5bfa8d92-6d84-e911-9e7b-302432936420', N'Ankara', 1, CAST(N'2019-06-01T16:02:56.653' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Province] ([ID], [ProvinceName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'5cfa8d92-6d84-e911-9e7b-302432936420', N'İzmir', 1, CAST(N'2019-06-01T16:03:04.080' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Shippers] ([ID], [ProvinceID], [TownID], [ShipperName], [EmailAddress], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'1a009902-7484-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'c88f90b0-6d84-e911-9e7b-302432936420', N'Aras Kargo', N'aras@gmail.com', 1, CAST(N'2019-06-01T16:49:01.597' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Shippers] ([ID], [ProvinceID], [TownID], [ShipperName], [EmailAddress], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0ea44c09-7484-e911-9e7b-302432936420', N'5bfa8d92-6d84-e911-9e7b-302432936420', N'557727da-6d84-e911-9e7b-302432936420', N'MNG Kargo', N'mng@gmail.com', 5, CAST(N'2019-06-01T16:53:53.633' AS DateTime), N'', CAST(N'2019-06-01T16:53:53.723' AS DateTime), N'::1')
INSERT [dbo].[Shippers] ([ID], [ProvinceID], [TownID], [ShipperName], [EmailAddress], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'658b6b10-7484-e911-9e7b-302432936420', N'5cfa8d92-6d84-e911-9e7b-302432936420', N'17282fed-6d84-e911-9e7b-302432936420', N'Yurtiçi Kargo', N'yurtici@gmail.com', 1, CAST(N'2019-06-01T16:49:24.803' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SiteEmployees] ([ID], [ProvinceID], [TownID], [Name], [LastName], [Profession], [BirthDate], [HireDate], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'e4fe4c1c-7584-e911-9e7b-302432936420', N'5cfa8d92-6d84-e911-9e7b-302432936420', N'17282fed-6d84-e911-9e7b-302432936420', N'Gürhan', N'Sığırtmaç', N'Web Developer', CAST(N'1990-04-23' AS Date), CAST(N'2010-04-23' AS Date), 1, CAST(N'2019-06-01T16:56:54.223' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SiteEmployees] ([ID], [ProvinceID], [TownID], [Name], [LastName], [Profession], [BirthDate], [HireDate], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'1f824d2c-7584-e911-9e7b-302432936420', N'5bfa8d92-6d84-e911-9e7b-302432936420', N'30a26ad0-6d84-e911-9e7b-302432936420', N'Aykut', N'Erkin', N'Web Developer', CAST(N'1994-03-23' AS Date), CAST(N'2011-06-05' AS Date), 1, CAST(N'2019-06-01T16:57:21.080' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SiteEmployees] ([ID], [ProvinceID], [TownID], [Name], [LastName], [Profession], [BirthDate], [HireDate], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'f112eb4c-7584-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'b0b0d6b7-6d84-e911-9e7b-302432936420', N'Burak ', N'Penpeci', N'Satış Uzmanı', CAST(N'1988-11-19' AS Date), CAST(N'2005-11-10' AS Date), 1, CAST(N'2019-06-01T16:58:15.793' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SubCategories] ([ID], [CategoryID], [SubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'ac1ca3e5-6084-e911-9e7b-302432936420', N'72d00c0a-6f84-e911-9e7b-302432936420', N'Erkek Ayakkabı', N'erkek için ayakkabı', N'/Content/uploads/SubCategory/efd57b0e_70f8_41db_81cd_288ed1657bf1.jpeg', 5, CAST(N'2019-06-01T14:32:12.583' AS DateTime), N'::1', CAST(N'2019-06-15T15:00:03.610' AS DateTime), N'::1')
INSERT [dbo].[SubCategories] ([ID], [CategoryID], [SubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'259b4f81-6f84-e911-9e7b-302432936420', N'72d00c0a-6f84-e911-9e7b-302432936420', N'Kadın Ayakkabı', N'kadınlar için ayakkabı', N'/Content/uploads/SubCategory/38436a8e_987e_44b3_801c_1a9577a5069b.jpeg', 5, CAST(N'2019-06-01T16:16:46.717' AS DateTime), N'::1', CAST(N'2019-06-15T15:00:18.873' AS DateTime), N'::1')
INSERT [dbo].[SubCategories] ([ID], [CategoryID], [SubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'3d3dab8d-6f84-e911-9e7b-302432936420', N'0149b512-6f84-e911-9e7b-302432936420', N'Bilgisayar', N'Laptop,Masa üstü', N'/Content/uploads/SubCategory/20efb7e7_f72e_4419_a242_ef8ada3422f2.jpeg', 5, CAST(N'2019-06-01T16:17:07.443' AS DateTime), N'::1', CAST(N'2019-06-15T15:00:20.943' AS DateTime), N'::1')
INSERT [dbo].[SubSubCategories] ([ID], [SubCategoryID], [SubSubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'eb3ea40b-6184-e911-9e7b-302432936420', N'ac1ca3e5-6084-e911-9e7b-302432936420', N'Spor Ayakkabı', N'Shoes for men', N'/Content/uploads/SubSubCategory/83a4eacb_fea5_4b56_9cfb_e70302226f41.jpeg', 1, CAST(N'2019-06-01T14:33:16.347' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SubSubCategories] ([ID], [SubCategoryID], [SubSubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'f96ab2d4-6f84-e911-9e7b-302432936420', N'259b4f81-6f84-e911-9e7b-302432936420', N'Spor Ayakkabı', N'Kadın için spor ayakkabı', N'/Content/uploads/SubSubCategory/2e085551_4501_4265_baa9_ecd2ce69dec9.jpeg', 1, CAST(N'2019-06-01T16:19:06.600' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[SubSubCategories] ([ID], [SubCategoryID], [SubSubCategoryName], [Description], [ImagePath], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'7a8f51df-6f84-e911-9e7b-302432936420', N'3d3dab8d-6f84-e911-9e7b-302432936420', N'Laptop', N'DizüstüPC', N'/Content/uploads/SubSubCategory/07651fa9_e3b3_458d_9e62_1cd355631b01.jpeg', 1, CAST(N'2019-06-01T16:19:24.437' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Supplier] ([ID], [TownID], [ProvinceID], [CompanyName], [ContactName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'30987c44-6184-e911-9e7b-302432936420', N'd94a4f52-6084-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'MGM LTD.STI', N'Ali Örs', 1, CAST(N'2019-06-01T14:34:51.717' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Supplier] ([ID], [TownID], [ProvinceID], [CompanyName], [ContactName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'8cc74eba-7084-e911-9e7b-302432936420', N'18282fed-6d84-e911-9e7b-302432936420', N'10a3f09e-6d84-e911-9e7b-302432936420', N'Yardimcilar LTD.STİ', N'Gülnur Özdil', 1, CAST(N'2019-06-01T16:25:31.840' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Supplier] ([ID], [TownID], [ProvinceID], [CompanyName], [ContactName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'15500ec8-7084-e911-9e7b-302432936420', N'b1b0d6b7-6d84-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'xxx Ltd. Şti', N'Nazmi Yardimci', 1, CAST(N'2019-06-01T16:25:54.893' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Town] ([ID], [ProvinceID], [TownName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'd94a4f52-6084-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'Maltepe', 1, CAST(N'2019-06-01T14:28:05.410' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Town] ([ID], [ProvinceID], [TownName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c88f90b0-6d84-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'Kadıköy', 1, CAST(N'2019-06-01T16:03:47.000' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Town] ([ID], [ProvinceID], [TownName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'b0b0d6b7-6d84-e911-9e7b-302432936420', N'd6569e4a-6084-e911-9e7b-302432936420', N'Bakırköy', 1, CAST(N'2019-06-01T16:03:59.207' AS DateTime), N'::1', NULL, NULL)
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[BankCard] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ContactInformation] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Image] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductColour] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductComments] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductDetails] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductSize] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Shippers] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[SiteEmployees] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[SubSubCategories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Town] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[AppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUsers_dbo.Province_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[AppUsers] CHECK CONSTRAINT [FK_dbo.AppUsers_dbo.Province_ProvinceID]
GO
ALTER TABLE [dbo].[AppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUsers_dbo.Town_TownID] FOREIGN KEY([TownID])
REFERENCES [dbo].[Town] ([ID])
GO
ALTER TABLE [dbo].[AppUsers] CHECK CONSTRAINT [FK_dbo.AppUsers_dbo.Town_TownID]
GO
ALTER TABLE [dbo].[BankCard]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BankCard_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[BankCard] CHECK CONSTRAINT [FK_dbo.BankCard_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cart_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_dbo.Cart_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cart_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_dbo.Cart_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[ContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactInformation_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[ContactInformation] CHECK CONSTRAINT [FK_dbo.ContactInformation_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[ContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactInformation_dbo.Shippers_ShipperID] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shippers] ([ID])
GO
ALTER TABLE [dbo].[ContactInformation] CHECK CONSTRAINT [FK_dbo.ContactInformation_dbo.Shippers_ShipperID]
GO
ALTER TABLE [dbo].[ContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactInformation_dbo.SiteEmployees_SiteEmployeeID] FOREIGN KEY([SiteEmployeeID])
REFERENCES [dbo].[SiteEmployees] ([ID])
GO
ALTER TABLE [dbo].[ContactInformation] CHECK CONSTRAINT [FK_dbo.ContactInformation_dbo.SiteEmployees_SiteEmployeeID]
GO
ALTER TABLE [dbo].[ContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactInformation_dbo.Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[ContactInformation] CHECK CONSTRAINT [FK_dbo.ContactInformation_dbo.Supplier_SupplierID]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Image_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_dbo.Image_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Shippers_ShipperID] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shippers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Shippers_ShipperID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Brands_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Brands_BrandID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.SubCategories_SubCategoryID] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.SubCategories_SubCategoryID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.SubSubCategories_SubSubCategoryID] FOREIGN KEY([SubSubCategoryID])
REFERENCES [dbo].[SubSubCategories] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.SubSubCategories_SubSubCategoryID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Supplier_SupplierID]
GO
ALTER TABLE [dbo].[ProductComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductComments_dbo.AppUsers_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[ProductComments] CHECK CONSTRAINT [FK_dbo.ProductComments_dbo.AppUsers_AppUserID]
GO
ALTER TABLE [dbo].[ProductComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductComments_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductComments] CHECK CONSTRAINT [FK_dbo.ProductComments_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.ProductColour_ProductColour_ID] FOREIGN KEY([ProductColourID])
REFERENCES [dbo].[ProductColour] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.ProductColour_ProductColour_ID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetails_dbo.ProductSize_ProductSizeID] FOREIGN KEY([ProductSizeID])
REFERENCES [dbo].[ProductSize] ([ID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_dbo.ProductDetails_dbo.ProductSize_ProductSizeID]
GO
ALTER TABLE [dbo].[Shippers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shippers_dbo.Province_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[Shippers] CHECK CONSTRAINT [FK_dbo.Shippers_dbo.Province_ProvinceID]
GO
ALTER TABLE [dbo].[Shippers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shippers_dbo.Town_TownID] FOREIGN KEY([TownID])
REFERENCES [dbo].[Town] ([ID])
GO
ALTER TABLE [dbo].[Shippers] CHECK CONSTRAINT [FK_dbo.Shippers_dbo.Town_TownID]
GO
ALTER TABLE [dbo].[SiteEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SiteEmployees_dbo.Province_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[SiteEmployees] CHECK CONSTRAINT [FK_dbo.SiteEmployees_dbo.Province_ProvinceID]
GO
ALTER TABLE [dbo].[SiteEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SiteEmployees_dbo.Town_TownID] FOREIGN KEY([TownID])
REFERENCES [dbo].[Town] ([ID])
GO
ALTER TABLE [dbo].[SiteEmployees] CHECK CONSTRAINT [FK_dbo.SiteEmployees_dbo.Town_TownID]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[SubSubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSubCategories_dbo.SubCategories_SubCategoryID] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSubCategories] CHECK CONSTRAINT [FK_dbo.SubSubCategories_dbo.SubCategories_SubCategoryID]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Supplier_dbo.Province_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_dbo.Supplier_dbo.Province_ProvinceID]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Supplier_dbo.Town_TownID] FOREIGN KEY([TownID])
REFERENCES [dbo].[Town] ([ID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_dbo.Supplier_dbo.Town_TownID]
GO
ALTER TABLE [dbo].[Town]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Town_dbo.Province_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[Town] CHECK CONSTRAINT [FK_dbo.Town_dbo.Province_ProvinceID]
GO
