@model Image
@{
    ViewBag.Title = "Insert";
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
<div class="container">
    <br />
    <br />

    <h2>Ürün Resmi Ekle</h2>

    @using (Html.BeginForm("Insert", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="form-group">
        <label for="name">Ürün Adı:</label>
        @Html.DropDownList("ProductID", null, "", htmlAttributes: new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.ProductID, "Ürün seçmek zorunludur", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="image">Resim:</label>
        <input type="file" name="fluResim" />
        @Html.ValidationMessageFor(m => m.ImagePath, "Ürün resmi eklemek zorunludur", new { @class = "text-danger" })
    </div>

        <button type="submit" class="btn btn-default">Kaydet</button>
    }


</div>

