@model Province
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <br />
    <br />
    <h2>İl Güncelleme</h2>


    @using (Html.BeginForm("Update", "Province", FormMethod.Post))
    {
        <div class="form-group">
            <label for="username">İl Adı:</label>
            @Html.TextBoxFor(m => m.ProvinceName, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-default">Güncelle</button>
    }

</div>

