
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!doctype html>
<html class="no-js" lang="zxx">

<body>
    <div class="container">
        <div class="wrapper">
            <div class="contact-area ptb-100 ptb-sm-60">
                <div class="container">
                    <h3 class="mb-20">İletişim</h3>
                    <p class="text-capitalize mb-20">Size en kısa zamanda dönüş yapacağız.</p>
                    <form id="contact-form" class="contact-form" action="mail.php" method="post">
                        <div class="address-wrapper row">
                            <div class="col-md-12">
                                <div class="address-fname">
                                    <input class="form-control" type="text" name="name" placeholder="Adınız-Soyadınız">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="address-email">
                                    <input class="form-control" type="email" name="email" placeholder="E-mail Adresiniz">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="address-subject">
                                    <input class="form-control" type="text" name="subject" placeholder="Konu">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="address-textarea">
                                    <textarea name="message" class="form-control" placeholder="Mesajınızı yazınız."></textarea>
                                </div>
                            </div>
                        </div>
                        <p class="form-message"></p>
                        <div class="footer-content mail-content clearfix">
                            <div class="send-email float-md-left">
                                <input value="Gönder" class="return-customer-btn" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>