<div class="support-area bdr-top">
    <div class="container">
        <div class="d-flex flex-wrap text-center">
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-gift"></i>
                </div>
                <div class="support-desc">
                    <h6>Hediyeler</h6>
                    <span>Sevdikleriniz için en güzel hediyeler burada.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-rocket"></i>
                </div>
                <div class="support-desc">
                    <h6>Hızlı Teslimat</h6>
                    <span>İstanbul içinde nerede olursanız olun gün içinde ürününüzü teslim ediyoruz.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-lock"></i>
                </div>
                <div class="support-desc">
                    <h6>Güvenli Ödeme</h6>
                    <span>Ödeme ve adres bilgilerinizi kaydedin,güvenli alışveriş yapın.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-enter-down"></i>
                </div>
                <div class="support-desc">
                    <h6>Güvenilir Mağaza</h6>
                    <span>Site olarak güvenilirlik sertifikamız mevcuttur.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-users"></i>
                </div>
                <div class="support-desc">
                    <h6>24/7 Yardım Hizmeti</h6>
                    <span>Çıkabilecek her türlü sorun için telefonlarımız sizin için açık.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Support Area End Here -->
<!-- Footer Area Start Here -->
<footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <!-- Signup Newsletter Start -->
            <div class="row mb-60">
                <div class="col-xl-7 col-lg-7 ml-auto mr-auto col-md-8">
                </div>
            </div>
            <!-- Signup-Newsletter End -->
            <div class="row">
                <!-- Single Footer Start -->
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Bilgiler</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="/Home/About">Hakkımızda</a></li>
                                <li><a href="/Home/About">Takım Arkadaşlarımız</a></li>
                                <li><a href="#">Gizlilik Politikası</a></li>
                                <li><a href="login.html">FAQs</a></li>
                                <li><a href="login.html">İade Politikası</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Müşteri Servisi</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="contact.html">İletişim</a></li>
                                <li><a href="#">Site Haritası</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Extralar</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="#">Markalar</a></li>
                                <li><a href="#">Site Haritası</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Hesabım</h3>
                        <div class="footer-content">
                            <ul class="footer-list">
                                
                                <li><a href="#">Hesabım</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <h3 class="footer-title">Adres Bilgileri</h3>
                        <div class="footer-content">
                            <ul class="footer-list address-content">
                                <li><i class="lnr lnr-map-marker"></i> Address: Beyçelebi Mahallesi Hızır Sokak 9A/1 İstanbul/Turkiye</li>
                                <li><i class="lnr lnr-envelope"></i><a href="#"> E-Mail: Eticaret@example.com </a></li>
                                <li>
                                    <i class="lnr lnr-phone-handset"></i> Telefon: (+800) 123 456 789)
                                </li>
                            </ul>
                            <div class="payment mt-25 bdr-top pt-30">
                                <a href="#"><img class="img" src="~/Content/img/payment/1.png" alt="payment-image"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <div class="footer-middle text-center">
        <div class="container">
            <div class="footer-middle-content pt-20 pb-30">
                <ul class="social-footer">
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><img src="~/Content/img/icon/social-img1.png" alt="google play"></a></li>
                    <li><a href="#"><img src="~/Content/img/icon/social-img2.png" alt="app store"></a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
        <div class="container">
            <div class="copyright-text text-center">
                <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Footer Area End Here -->
<!-- Quick View Content Start -->
<div class="main-product-thumbnail quick-thumb-content">
    <div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <!-- Main Thumbnail Image Start -->
                            <div class="col-lg-5 col-md-6 col-sm-5">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="thumb1" class="tab-pane fade show active">
                                        <a data-fancybox="images" href="~/Content/img/products/35.jpg"><img src="~/Content/img/products/35.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb2" class="tab-pane fade">
                                        <a data-fancybox="images" href="~/Content/img/products/13.jpg"><img src="~/Content/img/products/13.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb3" class="tab-pane fade">
                                        <a data-fancybox="images" href="~/Content/img/products/15.jpg"><img src="~/Content/img/products/15.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb4" class="tab-pane fade">
                                        <a data-fancybox="images" href="~/Content/img/products/4.jpg"><img src="~/Content/img/products/4.jpg" alt="product-view"></a>
                                    </div>
                                    <div id="thumb5" class="tab-pane fade">
                                        <a data-fancybox="images" href="~/Content/img/products/5.jpg"><img src="~/Content/img/products/5.jpg" alt="product-view"></a>
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="product-thumbnail mt-20">
                                    <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                                        <a class="active" data-toggle="tab" href="#thumb1"><img src="~/Content/img/products/35.jpg" alt="product-thumbnail"></a>
                                        <a data-toggle="tab" href="#thumb2"><img src="~/Content/img/products/13.jpg" alt="product-thumbnail"></a>
                                        <a data-toggle="tab" href="#thumb3"><img src="~/Content/img/products/15.jpg" alt="product-thumbnail"></a>
                                        <a data-toggle="tab" href="#thumb4"><img src="~/Content/img/products/4.jpg" alt="product-thumbnail"></a>
                                        <a data-toggle="tab" href="#thumb5"><img src="~/Content/img/products/5.jpg" alt="product-thumbnail"></a>
                                    </div>
                                </div>
                                <!-- Thumbnail image end -->
                            </div>
                            <!-- Main Thumbnail Image End -->
                            <!-- Thumbnail Description Start -->
                            <div class="col-lg-7 col-md-6 col-sm-7">
                                <div class="thubnail-desc fix mt-sm-40">
                                    <h3 class="product-header">Printed Summer Dress</h3>
                                    <div class="pro-price mtb-30">
                                        <p class="d-flex align-items-center"><span class="prev-price">16.51</span><span class="price">$15.19</span><span class="saving-price">save 8%</span></p>
                                    </div>
                                    <p class="mb-20 pro-desc-details">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                                    <div class="product-size mb-20 clearfix">
                                        <label>Size</label>
                                        <select class="">
                                            <option>S</option>
                                            <option>M</option>
                                            <option>L</option>
                                        </select>
                                    </div>
                                    <div class="color mb-20">
                                        <label>color</label>
                                        <ul class="color-list">
                                            <li>
                                                <a class="orange active" href="#"></a>
                                            </li>
                                            <li>
                                                <a class="paste" href="#"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-quantity d-flex">
                                        <form action="#">
                                            <input class="quantity mr-40" type="number" min="1" value="1">
                                        </form>
                                        <a class="add-cart" href="cart.html">add to cart</a>
                                    </div>
                                    <div class="pro-ref mt-15">
                                        <p><span class="in-stock"><i class="ion-checkmark-round"></i> IN STOCK</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Thumbnail Description End -->
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="custom-footer">
                        <div class="socila-sharing">
                            <ul class="d-flex">
                                <li>share</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

