
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> || Truemart E-Ticaret Sitesi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
</head>
<body>
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="~/Content/css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- Modernizer js -->
    <script src="~/Content/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Main Wrapper Start Here -->


    @Html.Partial("_Header")


    <!-- Contai</div>ner End -->
    @RenderBody()

    @Html.Partial("_Footer")
    <!-- Quick View Content End -->
    <!-- jquery 3.2.1 -->
    <script src="~/Content/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="~/Content/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/Content/js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="~/Content/js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="~/Content/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
